body {
    background-color: rgb(200,95,102);
    align-items: center;
    justify-content: center;

 }

 .lower{
     cursor: pointer;
    box-shadow: 5px 0 5px 0;
    padding: 2vw 1vw;
    align-items: center;
    justify-content: center;
    color: black;
    border: none;
    border-radius: 1vw;
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    right:23%;
    top:70%;
    margin:3vw;
 }

.add{
    cursor: pointer;
    box-shadow: 5px 0 5px 0;
    padding: 2vw 1vw;
    align-items: center;
    justify-content: center;
    color: black;
    border: none;
    border-radius: 1vw;
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    left:23%;
    top:70%;
    margin:3vw;

}


h1{
    padding: 1vw;
    color: black;
    font-size:4vw;
    font-weight: bold;
    position: absolute;
    left:37.39%;
    margin:1vw;
    top:10%;
    display:block;

}

.num{
    align-items: center;
    justify-content: center;
    color:gray;
    font-size: 15vw;
    font-weight: bold;
    position: absolute;
    left: 45%;
    margin:2vw;
    top:30%;

}


